@font-face {
    font-family: BolshFont;
    src: url(bolsh.ttf);
}

@font-face {
    font-family: Duality;
    src: url(Duality.otf);
}

@font-face {
    font-family: Lineyka;
    src: url(Lineyka.otf);
}

@font-face {
    font-family: PsyType;
    src: url(PsyType.ttf);
}

body {
    font-family: sans-serif;
    display: grid;
    margin: 0;
    padding: 0;
    background-color: black;
}

.body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    overflow: hidden;
}

.title {
    font-family: BolshFont;
    width: 100%;
    color: #D3E7FF;
    text-align: center;
    z-index: 0; 
    position: absolute; 
    font-size: 25px;
    animation: blink 0.2s linear infinite;
}

@keyframes blink {
    0% {
        text-shadow: #91C3FF 0 0 60px;
    }
    50% {
        text-shadow: #91C3FF 0 0 57px;
    }
    100% {
        text-shadow: #91C3FF 0 0 60px;
    }
}

/*.title:before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 20%;
    background: radial-gradient(#91C3FF, #6588B2, #3A4E66, #010001);
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: steam 100s linear infinite;
    filter: blur(10px);
}*/

.slider{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 400px;
    /*overflow: hidden;*/
    z-index: 7
}

.item{
    position: absolute;
    width: 220px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition:  0.7s;
    left: 18.5%;
    top: 10px;
}

.item:before {
    transition: 0.6s;
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: radial-gradient(#FFB401, #FF3101, #010001);
    background-size: 400%;
    width: 100%;
    height: 80%;
    z-index: 7;
    animation: steam 10s linear infinite;
    filter: blur(100px);
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

h1, li {
    color: #91C3FF;
}

ul {
    margin-right: 10%;
    font-family: PsyType;
    font-size: 20px;
}

h1 {
    margin: 5%;
    font-family: Duality;
    text-align: center;
}

.front, .back {
    position: absolute;
    border-radius: 10px;
}

.front {
    background-color: #010001;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    backface-visibility: hidden;
}

.booker {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3px;
    top: -2.5px;
    border-radius: 10px;
    background: radial-gradient(#FFB401, #FF3101);
    background-size: 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: steam 100s linear infinite;
}

#next{
    position: absolute;
    right: 50px;
    top: 40%;
}

#prev{
    position: absolute;
    left: 50px;
    top: 40%;
}

#prev, #next{
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
    z-index: 40;
}

#prev:hover,
#next:hover{
    opacity: 1;
}

.winC {
    position: absolute;
    font-family: Duality;
    font-size: 25px;
    top: 15%;
    right: 15%;
    z-index: 95;
    color: #FFB401;
}

.loseC {
    position: absolute;
    font-family: Duality;
    font-size: 25px;
    top: 15%;
    left: 15%;
    z-index: 95;
    color: #FF3101;
}

.winBtn,
.failBtn {
    z-index: 90;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    bottom: 7%;
    border-style: none;
    transition: 0.1s;
}

.winBtn {
    background: center no-repeat url(good.png);
    right: 15%;
    background-color: #FFB401;
}

.failBtn {
    background: center no-repeat url(bad.png);
    left: 15%;
    background-color: #FF3101;
}
